/* link, text on white background color: #c5139e8e */
/* background color: #facdf0 */
/* secondary link and heading color: rgb(98, 45, 197) */
/* link hover color: black */

/*
  ////////////////////////////////////////
  GENERAL SET UP
  ////////////////////////////////////////
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:100,400,400i,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

p {
    color: black;
    font-family: 'Roboto Slab', serif;
    text-align: justify;
}

/*
  ////////////////////////////////////////
  LINKS
  ////////////////////////////////////////
*/

.main-header a,
.main-footer a {
    color: #c5139e8e;
}
  
.main-header a:hover,
.main-footer a:hover {
    color: black;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a {
    color: rgb(98, 45, 197);
    text-decoration: none;
}

.preview a:hover h3 {
    color: black;
}

/*
  ////////////////////////////////////////
  LAYOUT
  ////////////////////////////////////////
*/

*, *:before, *:after {
    box-sizing: border-box;
}

/* clearfix, inspired by bootstrap, used for fixing floats */
.cfx:before,
.cfx:after {
    content: "";
    display: table;
}
.cfx:after {
    clear: both;
}
.cfx {
    clear: both;
    *zoom: 1;
}

.col {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: top; 
}

.flex {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    padding: 66px 15px 44px 15px;
    margin: 0 auto;
    max-width: 100%;
    width: 960px;
}

.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
    /* 1920/2 = 960 */
    width: 960px; 
}

/*
  ////////////////////////////////////////
  HEADER
  ////////////////////////////////////////
*/

.logo {
    float: left;
    padding: 40px 0 22px 0;
    border-top: 4px solid #c5139e8e;
    font-size: 48px;
    line-height: 44px;
    font-weight: 100;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.subtitle {
    margin: 66px 0 22px 0;
    text-align: right;
}

.main-nav {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .5px;
    text-transform: uppercase;
}

/*
  ////////////////////////////////////////
  FOOTER
  ////////////////////////////////////////
*/

.main-footer {
    color: #c5139e8e;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
    background: #facdf0;
}

.main-footer small {
    float: left;
    font-weight: bold;
}

/*
  ////////////////////////////////////////
  NAVIGATION
  ////////////////////////////////////////
*/

.nav {
    text-align: right;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    list-style-type: none;
}

.nav li:last-child {
    margin-right: 0;
}  
  
/*
  ////////////////////////////////////////
  HEADINGS
  ////////////////////////////////////////
*/

h1, h3, h4, h5, p {
    margin-bottom: 22px;
}

h1, h2, h3, h4 {
    color: #c5139e8e;
}  

h1 {
    font-size: 36px;
    line-height: 44px;
}

h2 {
    font-size: 24px;
    line-height: 44px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}

h5 {
    color: rgb(98, 45, 197);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

/*
  ////////////////////////////////////////
  BUTTON
  ////////////////////////////////////////
*/

.btn {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.btn-big {
    border: 1px solid #c5139e8e;
    padding: 10px 30px;
}

.btn-big:hover {
    background: white;
}

/*
  ////////////////////////////////////////
  BANNERS
  ////////////////////////////////////////
*/

.banner {
    line-height: 44px;
    padding: 22px 80px 66px 80px;
    text-align: center;
    background: #facdf0;
}

.banner h2 {
    font-size: 36px;
}

.banner p {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 100;
}

.banner-alt {
    background: #facdf0;
    background: -webkit-linear-gradient( #fff, #facdf0);
    background: -moz-linear-gradient(#fff, #facdf0);
    background: linear-gradient(#fff, #facdf0);
    padding: 44px 30px 22px 30px;
    text-align: center;
}

.banner-alt p {
    font-size: 21px;
    line-height: 33px;
    text-align: center;
}

/*
  ////////////////////////////////////////
  INDEX PREVIEW
  ////////////////////////////////////////
*/

.preview img {
    display: block;
    margin-bottom: 22px;
    max-width: 100%;
}

/*
  ////////////////////////////////////////
  MEDIA
  ////////////////////////////////////////
*/

@media screen and (max-width: 800px) {
    .flex {
      flex-direction: column;
    }

    .preview img {
        max-width: 30%;
    }
  }