/* details color  #c5139e8e */

/*
  ========================================
  Custom styles
  ========================================
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,400i,700&display=swap');

body {
    color: #888;
    font-family: 'Roboto', sans-serif;
}

p {
    color: black;
    font-family: 'Roboto Slab', serif;
    text-align: justify;
}
  

/* layout */

*, *:before, *:after {
    box-sizing: border-box;
}

/* clearfix, inspired by bootstrap */
.cfx:before,
.cfx:after {
    content: "";
    display: table;
}
.cfx:after {
    clear: both;
}
.cfx {
    clear: both;
    *zoom: 1;
}

/* logo */
.logo {
    float: left;
    padding: 40px 0 22px 0;
    border-top: 4px solid #c5139e8e;
    font-size: 48px;
    line-height: 44px;
}

.subtitle {
    margin: 66px 0 22px 0;
}

.main-nav {
    font-size: 14px;
    font-weight: bold;
}

/* footer */
.main-footer {
    color: #c5139e8e;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}

.main-footer small {
    float: left;
    font-weight: bold;
}

/* columns */
.col {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: top; 
    /* check vertical align */
    border: 1px solid red;
}

.flex {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 100%;
    width: 960px;
    border: 1px solid red;
}

.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
    /* 1920/2 = 960 */
    width: 960px; 
    border: 1px solid red;
}

/* typography */

h1, h3, h4, h5, p {
    margin-bottom: 22px;
}

h1, h2, h3, h4 {
    color: #c5139e8e;
}  

h1 {
    font-size: 36px;
    line-height: 44px;
}

h2 {
    font-size: 24px;
    line-height: 44px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}

h5 {
    color: rgb(98, 45, 197);
    font-size: 14px;
    font-weight: bold;
}
  
/*
  ========================================
  Links
  ========================================
*/

a:hover {
    color: black;
    text-decoration: underline;
}
a {
    color: rgb(98, 45, 197);
    text-decoration: none;
}

.preview a:hover h3 {
    color: black;
}

/* button */

.btn {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
}

.btn-big {
    border: 1px solid #c5139e8e;
    padding: 10px 30px;
}

/* index */

.banner {
    line-height: 44px;
    padding: 22px 80px 66px 80px;
}

.banner h2 {
    font-size: 36px;
}

.banner p {
    font-size: 24px;
}

/* media */
@media screen and (max-width: 800px) {
    .flex {
      flex-direction: column;
    }
  }